:root {
  /*----------Light-Theme----------------------------------------*/
  --Very-Dark-Blue-BG: hsl(225, 100%, 98%); /*--BG--*/
  --Very-Dark-Blue-Pattern: hsl(0, 0%, 100%); /*--Top-BG-Pattern-*/
  --Dark-Desaturated-Blue: hsl(227, 47%, 96%); /*--Card-BG--*/
  --Desaturated-Blue: hsl(228, 12%, 44%); /*--Text--*/
  --White: hsl(230, 17%, 14%);

  --check-dark-bg: hsl(230, 22%, 74%);
  --border-mobile: 3px solid hsl(228, 34%, 76%, 0.4);

  --hover-color: hsl(232, 33%, 91%);

  /*---------toggle-Light-Theme----------------------------------------*/

  --toggle-light-bg: hsl(230, 22%, 74%);

  /*---------------Prime-Colors-----------------------------------------*/

  --lime-green: #40798c;
  --bright-red: hsl(19, 97%, 51%);
}

.dark_mode {
  --Very-Dark-Blue-BG: hsl(230, 21%, 17%); /*--BG--*/
  --Very-Dark-Blue-Pattern: hsl(232, 19%, 15%); /*--Top-BG-Pattern-*/
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%); /*--Card-BG--*/
  --Desaturated-Blue: hsl(228, 34%, 76%); /*--Text--*/
  --White: hsl(0, 0%, 100%); /*--Text--*/

  --check-dark-bg: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(168, 51%, 50%)
  );

  --font-weight-thin-txt: 200;
  --border-mobile: 1px solid hsl(228, 34%, 76%, 0.2);
  --hover-color: hsl(228, 29%, 27%);

  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
}
