/* @import "var.css";
@import "size.css";
@import "logo.css"; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* width: 1440px;
  height: 100vh; */
  font-family: "Inter", sans-serif;
  font-size: var(--standart-font-size);

  --Very-Dark-Blue-BG: hsl(230, 21%, 17%); /*--BG--*/
  --Very-Dark-Blue-Pattern: hsl(232, 19%, 15%); /*--Top-BG-Pattern-*/
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%); /*--Card-BG--*/
  --Desaturated-Blue: hsl(228, 34%, 76%); /*--Text--*/
  --White: hsl(0, 0%, 100%); /*--Text--*/

  --check-dark-bg: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(168, 51%, 50%)
  );

  --font-weight-thin-txt: 200;
  --border-mobile: 1px solid hsl(228, 34%, 76%, 0.2);
  --hover-color: hsl(228, 29%, 27%);

  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
}
.card,
.view {
  background: grey;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    var(--Very-Dark-Blue-Pattern) 70%,
    var(--Very-Dark-Blue-BG) 30%
  );
}
main {
  width: 100vw;
  height: 100vh;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-auto-rows: clamp(10vh, 50vw, 20vh); */

  grid-gap: clamp(1rem, 30vw, 2rem);

  color: var(--White);

  padding-left: clamp(1vw, 30vw, 10vw);
  padding-right: clamp(1vw, 30vw, 10vw);
}
.small-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-auto-rows: clamp(10vh, 50vw, 20vh); */

  grid-gap: clamp(1rem, 30vw, 2rem);

  color: var(--White);

  padding-left: clamp(1vw, 30vw, 10vw);
  padding-right: clamp(1vw, 30vw, 10vw);
}

/*---------------------main-card------------------------------*/

.card {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  background: var(--Dark-Desaturated-Blue);
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  transition: 0.3s ease-in-out;
}

.card:hover,
.view:hover {
  background: var(--hover-color);
  cursor: pointer;
}

.facebook::before,
.twitter::before,
.insta::before,
.youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4rem;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

.facebook::before {
  background: var(--facebook-color);
}
.twitter::before {
  background: var(--twitter-color);
}

.insta::before {
  background-image: var(--instagram-color);
}

.youtube::before {
  background: var(--youtube-color);
}
.name-icon-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.name-icon-wrapper > svg {
  margin-right: 0.5rem;
}

.name {
  font-size: var(--font-size-small);
  color: var(--Desaturated-Blue);

  font-weight: var(--font-weight-second-txt);
}

.followers-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: var(--follows-number);
  font-weight: var(--font-weight-first-txt);
}
.subheading {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-thin-txt);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: var(--Desaturated-Blue);
  margin-bottom: 2rem;
}

/*------------------------view-cards----------------*/

.view {
  background: var(--Dark-Desaturated-Blue);
  /* margin-bottom: 2rem; */
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 2rem 1rem 2rem;
  transition: 0.3s ease-in-out;
}

.today-number {
  font-size: var(--today-number);
  font-weight: var(--font-weight-first-txt);
}

.today-view,
.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0.5rem;
}
.total,
.today-number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0.5rem;
}

.today-view {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  flex-direction: row;
}

.today-number,
.today-view {
  padding-top: 0.5rem;
}

.view > .total {
  color: var(--Desaturated-Blue);
  font-weight: var(--font-weight-second-txt);
}

.triangle.fb-views-down,
.triangle.fb-likes-up,
.triangle.insta-down,
.triangle.insta-views-down,
.triangle.twitter-views-down,
.triangle.twitter-likes-down,
.triangle.you-likes-up,
.triangle.you-views-up,
.triangle.insta-day-down,
.triangle.twitter-day-down,
.triangle.fb-day-down,
.triangle.yb-day-up {
  display: none;
}

.triangle {
  display: flex;
  align-items: center;
}
.triangle > svg {
  margin-right: 0.5rem;
}

/*---------------------Trend-up-down--------------------------*/
.today-up,
.today-down {
  display: inline-flex;
  font-weight: var(--font-weight-second-txt);
  font-size: var(--font-size-big);
}

.today-up {
  color: var(--lime-green);
}

.today-down {
  color: var(--bright-red);
}

/*--------------------Button---------------------------------------*/

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.dark-mode {
  display: inline-block;
  color: var(--Desaturated-Blue);
  font-size: var(--font-size-big);

  font-weight: var(--font-weight-second-txt);
}

.mode input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--check-dark-bg);
  transition: 0.4s;
  border-radius: 25px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 2px;
  background: var(--Very-Dark-Blue-BG);
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .slider:before {
  translate: 28px 0;
}

/*------------------------------dashboardd---------------------*/
/* .header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: clamp(10vh, 50vw, 10vh);

  grid-gap: clamp(0%, 15vw, 20%);

  color: var(--White);

  padding-left: clamp(1vw, 30vw, 10vw);
  padding-right: clamp(1vw, 30vw, 10vw);
  /* background: yellow; */
/* width: 100vw;
} */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* grid-gap: clamp(0%, 15vw, 20%); */

  color: var(--White);

  padding-left: clamp(1vw, 30vw, 10vw);
  padding-right: clamp(1vw, 30vw, 10vw);
  /* background: yellow; */
  /* width: 100vw; */
}
.overview {
  display: block;
  background: green;
  height: 3rem;
}

.heading {
  font-weight: var(--font-weight-second-txt);
  font-size: var(--font-size-main);
  letter-spacing: 0.05em;
}

.total {
  font-size: var(--font-size-big);

  color: var(--Desaturated-Blue);
}
.number {
  display: inline-flex;
  margin-left: 0.5rem;
}
